
<%- include('./partials/header') %>
<%- include('./partials/navbar') %>


<%- include('./partials/flash') %>

<div class="row">
    <div class="row">
        <div class="col-lg-6 product-card mt-5">
                <div class="card shadow mt-3 mx-auto" style="width: 22rem;">
                    <img class="img" src="<%=foundProduct.img%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title text-center"> <%= foundProduct.name %> </h3>
                      <h5 class="card-title"> Rs: <%= foundProduct.price %> </h5>
                      <p class="card-text"> <%= foundProduct.desc %> </p>
                      <a href="#" class="btn btn-success">Buy</a>
                      <a href="#" class="btn btn-secondary">Add to Cart</a>
                      <a href="/products/<%=foundProduct._id%>/edit" class="btn btn-info">Edit</a>
                      <form class="d-inline-block" action="/products/<%=foundProduct._id%>?_method=DELETE" method="POST">
                          <button class="btn btn-danger btn-sm">Delete</button>
                       </form>
                    </div>
                </div>
        </div>

    <div class="col-lg-6 margin-form">
        <h2 class="display-5">Leave your review</h2>
        <form action="/products/<%=foundProduct._id%>/review" method="POST">
            <div>
                <label for="rate">Rating:</label>
                <!-- star rating -->
                <fieldset class="starability-basic">
                    <!-- <legend>First rating:</legend> -->
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                <!-- <input type="range" min="0" max="5" name="rating" id="rate"> -->
            </div>
            <div>
                <label for="comm">Comment:</label>
                <textarea name="comment" id="comm" cols="30" rows="3"></textarea>
            </div>
            <button type="submit">Add review</button>
        </form>

        <% for(let item of foundProduct.reviews){ %>
            <div class="card mt-5">
                <!-- <h2><%=item.rating%></h2> -->
                <p class="starability-result" data-rating="<%=item.rating%>">
                    Rated: <%=item.rating%> stars
                </p>
                <p><%=item.comment%></p>
                <% if(item.createdAt){ %>
                    <p><%=item.createdAt.toDateString()%></p>
                <% } %>
                
            </div>
        <% } %>
        

    </div>

</div>

<%- include('./partials/footer') %>
